@font-face {
    font-family: 'IBM';
    src: url('../fonts/IBM/IBMPlexSansArabic-Thin.woff2') format('woff2'), url('../fonts/IBM/IBMPlexSansArabic-Thin.woff') format('woff'), url('../fonts/IBM/IBMPlexSansArabic-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM';
    src: url('../fonts/IBM/IBMPlexSansArabic-ExtraLight.woff2') format('woff2'), url('../fonts/IBM/IBMArabic-ExtraLight.woff') format('woff'), url('../fonts/IBM/IBMArabic-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM';
    src: url('../fonts/IBM/IBMPlexSansArabic-Light.woff2') format('woff2'), url('../fonts/IBM/IBMPlexSansArabic-Light.woff') format('woff'), url('../fonts/IBM/IBMPlexSansArabic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM';
    src: url('../fonts/IBM/IBMPlexArabic-Text.woff2') format('woff2'), url('../fonts/IBM/IBMPlexArabic-Text.woff') format('woff'), url('../fonts/IBM/IBMPlexSansArabic-Text.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM';
    src: url('../fonts/IBM/IBMPlexSansArabic-Medium.woff2') format('woff2'), url('../fonts/IBM/IBMPlexSansArabic-Medium.woff') format('woff'), url('../fonts/IBM/IBMPlexSansArabic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM';
    src: url('../fonts/IBM/IBMPlexSansArabic-SemiBold.woff2') format('woff2'), url('../fonts/IBM/IBMPlexSansArabic-SemiBold.woff') format('woff'), url('../fonts/IBM/IBMPlexSansArabic-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM';
    src: url('../fonts/IBM/IBMPlexSansArabic-Bold.woff2') format('woff2'), url('../fonts/IBM/IBMPlexSansArabic-Bold.woff') format('woff'), url('../fonts/IBM/IBMPlexSansArabic-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html[dir="rtl"] body {
    direction: rtl;
    font-family: "IBM";
}

html[dir="ltr"] body {
    direction: ltr;
    font-family: "IBM";
}

body {
    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
}

.ul_gh {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mar_pad_gh {
    padding: 0;
    margin: 0;
}

.anc_gh {
    display: inline-block;
}

.anc_gh:hover {
    text-decoration: none;
}

.button_gh {
    border: none;
    padding: 0;
    background-color: transparent;
}

.d_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(min-width:1500px) {
    .container {
        width: 1440px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}


/* ****************start header************* */

header {
    padding: 5px 0;
}

.header {
    display: flex;
    align-items: center;
}

.header_right,
.header_left {
    display: flex;
    justify-content: space-between;
}

.header_right {
    width: 58%
}

.header_left {
    width: 42%;
}

.navbar_ {
    display: flex;
    align-items: center;
}

.nav_ul {
    display: flex;
}

.anc_nav {
    font-size: 16px;
    font-family: "IBM";
    font-weight: 400px;
    color: rgb(95, 95, 95);
}

.anc_nav:focus {
    text-decoration: none;
}

.anc_nav:hover {
    color: rgb(77, 126, 171);
    transition: .5s;
}

.angle_nav {
    font-size: 10px;
}

html[dir="rtl"] .anc_nav {
    margin-left: 20px;
    text-transform: uppercase;
}

html[dir="ltr"] .anc_nav {
    margin-right: 20px;
    text-transform: capitalize;
}

.moboverlay {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    overflow: hidden;
}

.bars_:after {
    font-family: "Font Awesome 5 Free";
    content: "\f0c9";
    color: rgb(246, 250, 253);
    font-size: 18px;
    font-weight: 900;
}

.close_:after {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    color: rgb(71, 122, 169);
    font-size: 18px;
    font-weight: 900;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
}

.search .input_div {
    position: relative;
    width: 100%;
}

.input_div input {
    height: 45px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border: 2px solid transparent;
    border-radius: 22.5px;
    transition: .5s;
}

.icon_search {
    position: absolute;
    top: 13px;
    font-size: 18px;
    color: rgb(95, 95, 95);
    transition: .5s;
}

html[dir="rtl"] .icon_search {
    left: 25px;
}

html[dir="ltr"] .icon_search {
    right: 25px;
}

html[dir="rtl"] .input_div input {
    padding-right: 25px;
}

html[dir="ltr"] .input_div input {
    padding-left: 25px;
}

.input_div input:focus {
    outline: 0;
    border: 2px solid rgb(70, 121, 168);
}

.icon_search:hover {
    color: rgb(70, 121, 168);
}

.input_div input::placeholder {
    font-size: 15px;
    font-family: "IBMArabic";
    color: rgb(153, 153, 153);
}

.user_ {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: flex-end;
}

.button_div {
    display: flex;
    align-items: center;
}

.bt_user {
    font-size: 18px;
    color: rgb(255, 255, 255);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.bt_user:hover {
    color: rgb(71, 122, 168);
    transition: .5s;
}

.user_>.bt_user:nth-child(1) {
    background-color: rgb(210, 211, 192);
}

.bt_user:nth-child(1) {
    background-color: rgb(244, 232, 113);
}

.bt_user:nth-child(2) {
    background-color: rgb(236, 203, 224);
}

.bt_user:nth-child(3) {
    background-color: rgb(172, 213, 209);
}

html[dir="rtl"] .bt_user {
    margin-right: 10px;
}

html[dir="ltr"] .bt_user {
    margin-left: 10px;
}

.lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html[dir="rtl"] .lang {
    margin-right: 30px;
}

html[dir="ltr"] .lang {
    margin-left: 30px;
}

.lang .icon_lang {
    font-size: 7px!important;
    color: rgb(128, 128, 128);
    margin-top: 1px;
}

html[dir="rtl"] .icon_lang {
    margin-right: 4px;
}

html[dir="ltr"] .icon_lang {
    margin-left: 4px;
}

.dropbtn-lang {
    font-size: 16px;
    color: rgb(128, 128, 128);
    font-family: "IBM";
    font-weight: 300;
    cursor: pointer;
    transition: .5s;
}

.dropdown-lang {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-content-lang {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    min-width: 140px;
    background-color: #ffff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 99999;
    transition: .5s;
    top: 30px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(70, 121, 168);
    padding: 15px;
}

html[dir="rtl"] .dropdown-content-lang {
    left: 21px;
}

html[dir="ltr"] .dropdown-content-lang {
    left: 30px;
}

.dropdown-content-lang .anc_lang {
    font-size: 16px;
    font-family: "IBM";
    color: rgb(128, 128, 128);
    font-weight: 300;
    transition: .5s;
}

.dropdown-content-lang .anc_lang:nth-child(1) {
    margin-bottom: 5px;
}

.dropdown-content-lang .anc_lang:hover {
    color: rgb(70, 121, 168);
    text-decoration: none;
}

.dropdown-content-lang::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(70, 121, 168);
    position: absolute;
    top: -8px;
    transform: translateX(-50%);
    transition: 0.3s;
    opacity: 1;
}

.dropdown-lang:hover .dropdown-content-lang {
    opacity: 1;
    visibility: visible;
}

html[dir="rtl"] .dropdown-content-lang::after {
    left: 52%;
}

html[dir="ltr"] .dropdown-content-lang::after {
    right: 38%;
}

.search {
    display: none;
}

.header_left .search {
    display: block;
}

.menu_hover {
    position: relative;
}

.menu_hover:hover .drop_menu {
    visibility: visible;
    opacity: 1;
}

.drop_menu {
    visibility: hidden;
    opacity: 0;
    min-width: 145px;
    height: auto;
    position: absolute;
    z-index: 99;
    background-color: #ffff;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
    border-radius: 5px;
    transition: .5s;
    top: 30px;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid rgb(70, 121, 168);
}

html[dir="rtl"] .drop_menu {
    left: 70%;
}

html[dir="ltr"] .drop_menu {
    left: 36%;
}

.drop_user {
    visibility: hidden;
    opacity: 0;
    min-width: 140px;
    height: auto;
    position: absolute;
    z-index: 99;
    background-color: #ffff;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
    border-radius: 5px;
    transition: .5s;
    top: 85px;
    text-align: center;
    padding: 15px;
    border-top: 2px solid rgb(70, 121, 168);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.drop_user .anc_user:first-child {
    margin-bottom: 5px;
}

.drop_user::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 6px solid rgb(70, 121, 168);
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    opacity: 1;
}

.user_hover:hover .drop_user {
    visibility: visible;
    opacity: 1;
}

.drop_menu::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(70, 121, 168);
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    opacity: 1;
}

.anc_menu,
.anc_user {
    font-size: 16px;
    font-family: "IBM";
    color: rgb(128, 128, 128);
    font-weight: 300;
    transition: .5s;
    text-transform: capitalize;
}

.drop_menu li {
    margin-bottom: 5px;
}

.anc_menu:hover,
.anc_user:hover {
    text-decoration: none;
    color: rgb(70, 121, 168);
}

.drop_menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.drop_menu {
    padding: 15px;
}

.lnr_ {
    display: none;
}

@media(min-width:1500px) {
    html[dir="rtl"] .navbar_ {
        margin-left: 20px;
    }
    html[dir="ltr"] .navbar_ {
        margin-right: 20px;
    }
}

@media(max-width:1199px) {
    .user_ {
        width: auto;
    }
    .icon_search {
        color: rgb(71, 122, 169);
    }
}

@media(min-width:1200px) {
    html[dir="rtl"] .anc_nav {
        margin-left: 30px;
    }
    html[dir="ltr"] .anc_nav {
        margin-right: 20px;
    }
}

@media(min-width:1400px) {
    .fade {
        display: none!important;
    }
    html[dir="rtl"] .anc_nav {
        margin-left: 30px;
    }
    html[dir="ltr"] .anc_nav {
        margin-right: 30px;
    }
}

@media(max-width:992px) {
    header {
        position: relative;
    }
    .navbar_ {
        position: absolute;
        transition: .5s;
        height: 100%;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
    }
    html[dir="rtl"] .navbar_ {
        right: -100%;
    }
    html[dir="ltr"] .navbar_ {
        left: -100%;
    }
    .over {
        overflow-y: hidden;
    }
    html[dir="rtl"] .dropdown-content-lang {
        left: 119%;
    }
    html[dir="ltr"] .dropdown-content-lang {
        left: 0;
    }
    .lnr_ {
        display: block;
        position: absolute;
        top: 20px;
        z-index: 99;
        font-size: 18px;
        color: rgb(128 128 128);
        transition: .5s;
    }
    .lnr_:hover {
        color: rgb(50 85 118);
        cursor: pointer;
    }
    html[dir="rtl"] .lnr_ {
        left: 20px;
    }
    html[dir="ltr"] .lnr_ {
        right: 20px;
    }
    .navbar_ {
        top: 0;
        position: fixed;
        z-index: 99;
        width: 85%;
        background: #fff;
        display: block;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
    }
    .open_ {
        right: 0;
    }
    html[dir="rtl"] .open_ {
        right: 0;
    }
    html[dir="ltr"] .open_ {
        left: 0;
    }
    .nav_ul {
        visibility: visible;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 80px;
    }
    .nav_ul li {
        margin-bottom: 10px;
    }
    .anc_nav {
        font-size: 16px;
    }
    html[dir="rtl"] .anc_nav {
        margin-left: 0px;
    }
    html[dir="ltr"] .anc_nav {
        margin-right: 0px;
    }
    .navbar_ .lang {
        text-align: center;
        padding-top: 20px;
    }
    .navbar_ .lang {
        display: block;
        margin-bottom: 35px;
    }
    .header {
        padding: 15px 0 15px;
    }
    .header_right {
        width: 50%
    }
    .header_left {
        width: 50%;
        justify-content: flex-end;
    }
    .search {
        display: block;
    }
    .header_left .search {
        display: none;
    }
    .drop_menu {
        position: relative;
        top: 100%;
        background-color: transparent;
        box-shadow: unset;
        border: unset;
        width: auto;
        height: auto;
        transition: unset;
        z-index: 99999;
        visibility: visible;
        opacity: 1;
        padding: 0;
        padding-top: 5px;
        display: none;
        padding: 15px
    }
    html[dir="rtl"] .drop_menu {
        text-align: right;
        left: 50%;
    }
    html[dir="ltr"] .drop_menu {
        text-align: left;
        left: 50%;
    }
    .drop_menu::after {
        border: none;
        transition: unset;
    }
    .anc_menu {
        font-size: 18px;
    }
    html[dir="rtl"] .lang {
        margin-right: 15px;
    }
    html[dir="ltr"] .lang {
        margin-left: 15px;
    }
    html[dir="rtl"] .dropdown-content-lang::after {
        left: 27%;
    }
    html[dir="ltr"] .dropdown-content-lang::after {
        right: 20%;
    }
    .bars_:after {
        color: rgb(255, 255, 255);
        font-size: 14px;
    }
    .bt_user {
        font-size: 14px;
    }
}

@media(max-width:567px) {
    .header .logo img {
        width: 85px;
    }
    html[dir="rtl"] .bt_user {
        margin-right: 4px;
    }
    html[dir="ltr"] .bt_user {
        margin-left: 4px;
    }
    .bt_user {
        height: 35px;
        width: 35px;
    }
    html[dir="rtl"] .lang {
        margin-right: 10px;
    }
    html[dir="ltr"] .lang {
        margin-left: 10px;
    }
    .input-search {
        width: 95%;
    }
    .input_div input {
        height: 40px;
        border-radius: 20px;
    }
    .icon_search {
        top: 13px;
        font-size: 17px;
    }
    .angle_nav {
        font-size: 9px;
    }
    .dropdown-content-lang {
        min-width: 120px;
    }
    .dropbtn-lang {
        font-size: 12px;
    }
    .drop_user {
        top: 63px;
        padding: 15px;
    }
    .drop_menu {
        padding: 8px
    }
}


/* ****************end header************* */


/* ****************start slider************ */

.slider {
    margin-bottom: 30px;
}

.slider .owl-nav {
    display: none;
}

.anc_slider {
    display: block;
    position: relative;
    padding-bottom: 34.1875%;
}

.anc_slider img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .owl-carousel .owl-dots {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 30px;
}

.slider .owl-carousel button.owl-dot {
    background-color: rgba(0, 0, 0, .5);
    width: 15px;
    height: 5px;
    margin-left: 5px;
    border-radius: 10px;
}

.slider .owl-carousel button.owl-dot.active {
    background-color: rgb(255, 255, 255);
}

@media(max-width:767px) {
    .slider {
        margin-bottom: 15px;
    }
    .slider .owl-carousel button.owl-dot {
        width: 10px;
        height: 4px;
    }
    .slider .owl-carousel .owl-dots {
        bottom: 10px
    }
}


/* ****************end slider************ */


/* ****************start banner********** */

.banner {
    margin-bottom: 100px;
}

.banner_group a {
    overflow: hidden;
    display: block;
    overflow-y: hidden;
}

.banner a {
    overflow: hidden;
    display: block;
}

.banner_lg {
    display: flex;
}

.banner_group>a>img {
    max-height: auto;
}

.banner_group a img {
    max-height: auto;
}

.banner_group {
    max-height: auto;
    overflow: hidden;
}

.banner_single {
    position: relative;
}

a.anc_hover_ {
    overflow: hidden;
    display: block;
    position: relative;
}

.anc_hover_::before {
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .8s ease 0s;
    z-index: 9;
}

.anc_hover_::after {
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    transition: all .8s ease 0s;
    z-index: 9;
}

.anc_hover_:hover::after {
    bottom: 50%;
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    top: 50%;
}

.anc_hover_:hover::before {
    left: 50%;
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    right: 50%;
}

.anc_banner {
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-family: "IBM";
    font-weight: 600;
    color: rgb(70, 121, 168);
    transition: .5s;
    margin-bottom: 16px;
    text-transform: capitalize;
}

.anc_banner:hover {
    color: rgb(95, 95, 95);
}

.banner img {
    transition: .5s;
    max-width: 100%;
}

.banner a:hover img {
    transform: scale(1.1);
}

.banner_group a:nth-child(1) {
    margin-bottom: 30px;
}

.banner_lg {
    margin-bottom: 30px;
}

.banner_sm a:nth-child(1) {
    margin-bottom: 10px
}

@media(max-width:1400px) {
    .banner_group>a>img {
        max-height: 265px;
    }
    .banner_group {
        max-height: 555px;
    }
}

@media(max-width:992px) {
    .banner_lg {
        flex-direction: column;
        align-items: center;
    }
    .banner_single img {
        height: auto;
    }
    .banner_single {
        margin-bottom: 30px;
    }
    html[dir="rtl"] .banner_single {
        margin-left: 0px;
    }
    html[dir="ltr"] .banner_single {
        margin-right: 0px;
    }
    .banner img {
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:767px) {
    .banner_single {
        width: 100%;
        margin-bottom: 15px;
    }
    .banner_group {
        width: 100%;
    }
    .banner_group img:nth-child(1) {
        margin-bottom: 15px;
    }
    .banner_sm a:nth-child(1) {
        margin-bottom: 10px;
    }
    .banner {
        margin-bottom: 40px;
    }
    .banner_lg {
        margin-bottom: 0;
    }
    .banner_group a:nth-child(1) {
        margin-bottom: 0px;
    }
    .header {
        padding: 0;
        padding-bottom: 5px;
    }
    .banner_sm a:nth-child(1) {
        margin-bottom: 5px;
    }
    .anc_banner {
        font-size: 20px;
        margin-bottom: 10px;
    }
}


/* ****************end banner********** */


/* *****************start new********* */

.new {
    background-color: rgb(250, 250, 250);
    padding: 70px 0 90px 0;
}

.h4_ {
    font-size: 28px;
    font-family: "IBM";
    color: rgb(70, 121, 168);
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.anc_img {
    display: inline-block;
    margin-bottom: 10px;
    border: 1px solid rgb(235, 235, 235);
    overflow: hidden;
}

.anc_img img {
    transition: .5s;
}

.anc_img:hover img {
    transform: scale(1.1);
}

.new_name {
    text-align: center;
}

.anc_new {
    font-size: 16px;
    font-family: "IBM";
    color: rgb(95, 95, 95);
    font-weight: 400;
    transition: .5s;
    margin-bottom: 5px;
}

.anc_new:hover {
    color: rgb(70, 121, 168);
}

.new_name .price {
    display: flex;
    justify-content: center;
}

.price p {
    font-size: 16px;
    font-family: "IBM";
    color: rgb(70, 121, 168);
    font-weight: bold;
    margin-bottom: 0;
}

html[dir="rtl"] .price p {
    margin-left: 5px;
}

html[dir="ltr"] .price p {
    margin-right: 5px;
}

.price span {
    font-size: 16px;
    font-family: "IBM";
    text-decoration: line-through;
    color: rgb(133, 133, 133);
}

.special_off {
    background-color: transparent;
    margin-bottom: 70px;
}

.new .owl-nav {
    display: flex;
    justify-content: space-between;
}

.new .owl-carousel .owl-nav button.owl-next,
.new .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    transform: translateY(-50%);
    top: 36%;
    font-size: 18px;
    color: rgb(178, 178, 178);
    transition: .5s;
}

.new .owl-carousel .owl-nav button.owl-next:hover,
.new .owl-carousel .owl-nav button.owl-prev:hover {
    color: rgb(70, 121, 168);
}

.new .owl-prev {
    right: -30px
}

.new .owl-next {
    left: -30px
}

.new .owl-dots {
    display: none;
}

@media(max-width:767px) {
    .new .owl-nav {
        display: none;
    }
    .new .owl-dots {
        display: block;
        position: absolute;
        bottom: -40px;
        transform: translatex(-50%);
        font-size: 18px;
        color: rgb(255, 255, 255);
    }
    html[dir="rtl"] .new .owl-dots {
        left: 50%;
    }
    html[dir="ltr"] .new .owl-dots {
        left: 50%;
    }
    .new .owl-carousel button.owl-dot {
        background-color: rgb(204, 204, 204);
        border-radius: 50%;
        width: 8px;
        height: 8px;
    }
    html[dir="rtl"] .new .owl-carousel button.owl-dot {
        margin-left: 5px;
    }
    html[dir="ltr"] .new .owl-carousel button.owl-dot {
        margin-right: 5px;
    }
    .new .owl-carousel button.owl-dot.active {
        background-color: rgb(70, 121, 168);
    }
    .new {
        margin-bottom: 15px;
    }
    .new {
        padding: 40px 0 60px 0;
    }
    .h4_ {
        font-size: 25px;
    }
    .special_off {
        margin-bottom: 40px;
    }
}


/* *****************end new********* */


/* ********************start features****************** */

.features {
    padding: 0 50px 70px 50px;
}

.featyres_div {
    display: flex;
}

.icon_f {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: rgb(172, 213, 209);
    display: flex;
    justify-content: center;
    align-items: center;
}

html[dir="rtl"] .featyres_div P {
    padding-right: 20px;
}

html[dir="ltr"] .featyres_div P {
    padding-left: 20px;
}

.icon_f2 {
    background-color: rgb(244, 232, 113);
}

.icon_f3 {
    background-color: rgb(236, 203, 224);
}

.icon_f4 {
    background-color: rgb(210, 211, 192);
}

.featyres_div span {
    font-size: 30px;
    color: rgb(253, 247, 237);
}

.featyres_div P {
    display: flex;
    align-items: center;
    font-family: "IBM";
    color: rgb(70, 121, 168);
    font-size: 15px;
}

@media(max-width:992px) {
    .features {
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-bottom: 40px;
    }
    .featyres_div {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .icon_f {
        margin-bottom: 20px;
    }
    html[dir="rtl"] .icon_f {
        margin-left: 0px;
    }
    html[dir="ltr"] .icon_f {
        margin-right: 0px;
    }
    .featyres_div P {
        text-align: center;
        font-size: 14px;
    }
    html[dir="rtl"] .featyres_div P {
        padding-right: 0px;
    }
    html[dir="ltr"] .featyres_div P {
        padding-left: 0px;
    }
}


/* ********************end features****************** */


/* ************************start footer****************** */

footer {
    background-color: rgb(70, 121, 168);
    padding: 25px 0 15px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.footer .logo {
    width: 245px;
}

.nav_footer {
    display: flex;
    align-items: center;
}

.footer_ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.anc_footer {
    font-size: 16px;
    font-family: "IBM";
    color: rgb(255, 255, 255);
    transition: .5s;
    text-transform: capitalize;
}

html[dir="rtl"] .anc_footer {
    margin-left: 25px;
}

html[dir="ltr"] .anc_footer {
    margin-right: 25px;
}

.anc_footer:hover {
    text-decoration: none;
    color: rgb(172, 212, 209);
}

.social_media {
    display: flex;
    align-items: center;
}

.anc_social {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(107, 148, 185);
    width: 40px;
    height: 40px;
    transition: .5s;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

html[dir="rtl"] .anc_social {
    margin-right: 5px;
}

html[dir="ltr"] .anc_social {
    margin-left: 5px;
}

.anc_social:hover {
    background-color: rgb(172, 212, 209);
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright p {
    font-size: 14px;
    font-family: "IBM";
    color: rgb(255, 255, 255);
    margin: 0;
}

.copyright span {
    font-size: 14px;
    font-family: "IBM";
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    width: 242px;
    text-transform: capitalize;
}

html[dir="rtl"] .copyright span {
    text-align: left;
}

html[dir="ltr"] .copyright span {
    text-align: right;
}

.copyright span a {
    display: inline-block;
}

.copyright .payment {
    max-width: 100%;
}

html[dir="rtl"] .copyright .tasawk {
    margin-right: 5px;
}

html[dir="ltr"] .copyright .tasawk {
    margin-left: 5px;
}

@media(max-width:992px) {
    .footer_ul {
        flex-direction: column;
    }
    html[dir="rtl"] .anc_footer {
        margin-left: 0px;
    }
    html[dir="ltr"] .anc_footer {
        margin-right: 0px;
    }
    .anc_footer {
        margin-bottom: 20px;
    }
    .footer_ul li {
        margin-bottom: 10px;
    }
    .footer .logo {
        text-align: center;
    }
    html[dir="rtl"] .copyright span {
        text-align: center;
    }
    html[dir="ltr"] .copyright span {
        text-align: center;
    }
}

@media(max-width:767px) {
    .footer {
        flex-direction: column;
    }
    .footer .logo {
        margin-bottom: 30px;
    }
    .nav_footer {
        margin-bottom: 30px;
    }
    .copyright {
        flex-direction: column;
    }
    .copyright p {
        margin-bottom: 10px;
    }
    .copyright .payment {
        margin-bottom: 10px;
    }
}

.preloader-sa {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 1111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader-sa img {
    width: 200px;
}


/* ************************end footer****************** */